<!DOCTYPE html>
<html>
  <body>
    {% for x in fruits %}
    <h1>{{ x }}</h1>
    {% endfor %} {% comment %}
    <p>In views.py you can see what the fruits variable looks like.</p>
    {% endcomment %}
  </body>
</html>
